<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>FACE</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
  <h1>#<%= @face.body %></h1>
  <div class="container-fluid">
	  <div class="row d-flex justify-content-center">
      <% @face_posts.each do |face_post| %>
        <div class="card col-lg-6 mb-2 mx-5">
				  <div class="card-body">
            <li><%= Person.find(Post.find(face_post.post_id).person_id).name %></li>
            <p><%= User.find(Post.find(face_post.post_id).user_id).name %></p>
            <% unless Post.find(face_post.post_id).image.empty? %>
			        <p><img class="img-fluid rounded" src="<%= Post.find(face_post.post_id).image %>"></p>
		        <% end %>
            <% Post.find(face_post.post_id).face_posts.each do |face| %>
              <a href="/hashtag/<%= face.face_id %>">#<%= Face.find(face.face_id).body%></a>
            <% end %>
            <p><%= Post.find(face_post.post_id).summary %></p>
            <p><%= Post.find(face_post.post_id).body %></p>
            <div class="d-flex justify-content-end align-items-center mt-3">
						  <span class="card-footer-text"><%= Post.find(face_post.post_id).likes.size %></span>
						  <form action="/good/<%= Post.find(face_post.post_id).id %>" method="post">
							  <input type="submit" value="LIKE" class="btn card-footer-text">
							</form>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</body>
</html>