<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<% unless session[:user] %>
		<a href="/signin">login</a><br>
		<a href="/signup">signup</a>
		<h2>未ログイン</h2>
	<% else %>
		<a href="/signout">signout</a>
		<h2>Welcome <%= current_user.name %></h2>

	<a href="/new">new post</a><br>
	<a href="/search">search</a><br>
	<a href="/mypage/<%= session[:user] %>">mypage</a><br>

	<% @all_posts.each do |all_post| %>
		<li><%= Person.find_by(id: all_post.person_id).name %></li>
		<%= User.find_by(id: all_post.user_id).name %><br>
		<% unless all_post.image.empty? %>
			<p><img src="<%= all_post.image %>"></p>
		<% end %>
		<% all_post.face_posts.each do |face_post| %>
			<%= Face.find_by(id: face_post.face_id).body %><br>
		<% end %>
		<%= all_post.summary %><br>
		<%= all_post.body %><br>
		<form action="/good/<%= all_post.id %>" method="post">
			<input type="submit" value="LIKE">
		</form>
	<% end %>
<% end %>
</body>
</html>
