<body>
	<div class="container">
		<div class="row d-flex justify-content-center">
			<% @all_posts.each do |all_post| %>
				<div class="card col-lg-3 mb-4 mx-4 content card-color">
					<div class="card-body">
						<p class="person mb-0"><%= Person.find_by(id: all_post.person_id).name %></p>
						<p class="user item">by <%= User.find_by(id: all_post.user_id).name %></p>
						<% unless all_post.image.empty? %>
							<img class="img-fluid rounded mx-auto d-block" src="<%= all_post.image %>">
						<% end %>
						<p class="mb-0 item parts">characteristic : </p>
						<% all_post.face_posts.each do |face_post| %>
							<a href="/hashtag/<%= face_post.face_id %>">#<%= Face.find_by(id: face_post.face_id).body %></a>
						<% end %>
						<p class="mt-3 mb-0 item parts">point：</p>
						<p><%= all_post.summary %></p>
						<a href="/post/<%= all_post.id %>" class="process">more</a>
						<div class="d-flex justify-content-end align-items-center mt-3">
							<span class="like_label btn card-footer-text like_size" data-id="<%= all_post.id %>"><%= all_post.likes.size %></span>
							<button class="like_button" data-id="<%= all_post.id %>">
							</button>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	<script>
		$(document).on("click", ".like_button", function(){
			var id = $(this).data("id");
			$.ajax({
				url: "/good/" + id,
				method: "POST",
				success: function(n) {
					$(".like_label[data-id=" + id + "]").text(n);
					if($(".like_button[data-id="+ id + "] i").hasClass("fa-solid")){
						$(".like_button[data-id="+ id + "] i").removeClass('fa-solid');
						$(".like_button[data-id="+ id + "] i").addClass('fa-regular');
					}
					else{
						$(".like_button[data-id="+ id + "] i").removeClass('fa-regular');
						$(".like_button[data-id="+ id + "] i").addClass('fa-solid');
					}
				}
			});
		});
	</script>
</body>
