<body>
	<% unless session[:user] %>
		<a href="/signin">login</a><br>
		<a href="/signup">signup</a>
		<h2>未ログイン</h2>
	<% else %>

		<div class="container-fluid">
			<div class="row d-flex justify-content-center">
					<% @all_posts.each do |all_post| %>
					 <div class="card col-lg-3 mb-4 mx-4 content card-color">
						<div class="card-body">
							<p class="pen"><%= Person.find_by(id: all_post.person_id).name %></p>
							<p><%= User.find_by(id: all_post.user_id).name %></p>
							<% unless all_post.image.empty? %>
								<p><img class="img-fluid rounded" src="<%= all_post.image %>"></p>
							<% end %>
							<% all_post.face_posts.each do |face_post| %>
								<a href="/hashtag/<%= face_post.face_id %>">#<%= Face.find_by(id: face_post.face_id).body %></a>
							<% end %>
							<p><%= all_post.summary %></p>
							<p><%= all_post.body %></p>
							<div class="d-flex justify-content-end align-items-center mt-3">
								<span class="card-footer-text"><%= all_post.likes.size %></span>
								<form action="/good/<%= all_post.id %>" method="post">
									<input type="submit" value="&#xf004;" class="btn card-footer-text">
								</form>
							</div>
						</div>
					 </div>
					<% end %>
			</div>
		</div>
	<% end %>
</body>
