<body>
  <h1>いいね一覧</h1>

  <div class="container-fluid">
	  <div class="row d-flex justify-content-center">
      <% @user_likes.each do |user_like| %>
        <div class="card col-lg-3 mb-4 mx-5">
				  <div class="card-body">
            <li><%= Person.find(Post.find(user_like.post_id).person_id).name %></li>
            <p><%= User.find(Post.find(user_like.post_id).user_id).name %></p>
            <% unless Post.find(user_like.post_id).image.empty? %>
			        <p><img class="img-fluid rounded" src="<%= Post.find(user_like.post_id).image %>"></p>
	          <% end %>
            <% Post.find(user_like.post_id).face_posts.each do |face_post| %>
              <a href="/hashtag/<%= face_post.face_id %>">#<%= Face.find_by(id: face_post.face_id).body %></a>
            <% end %>
            <p><%= Post.find(user_like.post_id).summary %></p>
            <p><%= Post.find(user_like.post_id).body %></p>
            <div class="d-flex justify-content-end align-items-center mt-3">
              <span class="card-footer-text"><%= Post.find(user_like.post_id).likes.size %></span>
              <form action="/good/<%= Post.find(user_like.post_id).id %>" method="post">
                <input type="submit" value="&#xf004;" class="btn card-footer-text">
              </form>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</body>